@media (max-width: 1440px) {
  .send button {
    bottom: 274px;
    right: 818px;
  }
  .two-img img {
    position: absolute;
    top: -4px;
    left: -143px;
  }
  .two-img2 img {
    bottom: -20px;
    right: -318px;
  }

  .easy {
    gap: 118px;
  }
  .setting {
    width: 243px;
    height: 275px;
  }
  .setting h2 {
    font-size: 20px;
    margin: 0px 12px;
  }
  .setting p {
    font-size: 14px;
    padding: 7px 0 0 11px;
  }
  .information {
    left: -154px;
    position: relative;
  }

  .sett {
    margin: 35px 40px 37px 66px;
  }
  .code {
    margin: 35px 38px 37px 61px;
  }
  .person {
    margin: 35px 46px 37px 62px;
  }
  .shield {
    margin: 35px 46px 37px 71px;
  }

  .with {
    gap: 34px;
  }
  .with-image img {
    z-index: 99;
  }
  .with-img2 img {
    top: 1714px;
    left: 630px;
    z-index: 0;
  }
  .easy-p span {
    font-size: 18px;
    font-weight: 400;
  }
  .plan-img {
    bottom: -1472px;
    left: 616px;
  }
  .plan-img2 {
    top: 1919px;
    left: 942px;
  }
  .information {
    gap: 0;
  }
  .soft {
    gap: 0;
  }
  .footer {
    gap: 140px;
  }
}
@media (max-width: 1200px) {
  .softs a {
    font-size: 15px;
    padding: 0 23px;
  }
  .one h1 {
    font-size: 50px;
    width: 469px;
  }
  .one p {
    font-size: 19px;
    width: 491px;
  }
  .email input {
    width: 430px;
    height: 61px;
    font-size: 16px;
  }
  .send button {
    width: 108px;
    height: 50px;
    bottom: 208px;
    right: 648px;
  }
  .two {
    width: 560px;
  }
  .two img {
    top: 35px;
    left: -52px;
    width: 690px;
  }
  .two-img img {
    top: 133px;
    left: 798px;
  }
  .ask h4 {
    margin-top: 19px;
  }
  .two-img2 {
    position: absolute;
    bottom: 57px;
    right: -131px;
    z-index: 88;
  }
  .two-img2 img {
    bottom: 38px;
    right: -96px;
    width: 276px;
  }
  .second img {
    width: 160px;
    height: 40px;
  }
  #second {
    width: 1200px;
  }
  .second {
    gap: 94px;
  }
  .setting {
    width: 220px;
    height: 258px;
  }
  .setting h2 {
    font-size: 21px;
  }
  .setting p {
    font-size: 14px;
    padding: 1px 0 0 11px;
    width: 212px;
  }
  .easy {
    gap: 68px;
    position: relative;
    left: -95px;
  }
  .plan-img {
    bottom: -1401px;
    left: 474px;
  }
  .plan-img2 {
    top: 1757px;
    left: 836px;
  }
  .with-img2 img {
    top: 1563px;
    left: 515px;
  }
  .plan2 {
    top: -112px;
  }
  .information {
    left: -200px;
    position: relative;
  }
  .information img {
    width: 759px;
  }
  .inf-text h1 {
    font-size: 42px;
    width: 484px;
  }
  .soft {
    left: -80px;
    gap: 0;
    position: relative;
  }
  .soft-text h1 {
    font-size: 39px;
    width: 329px;
  }
  .soft-text p {
    font-size: 17px;
    width: 450px;
    padding: 11px 0;
  }
  .soft-text button {
    font-size: 17px;
  }
  .soft img {
    top: -2px;
    width: 899px;
    left: -77px;
    position: relative;
  }

  .basic-img2 {
    width: 333.262px;
    margin: -7px 0 0 0;
  }
  .basic-img1 {
    width: 333.262px;
    margin: 16px 3px 7px 0;
  }
  .plan {
    width: 332px;
    height: 571px;
  }
  .plan h2 {
    line-height: 168%;
    padding: 25px 93px 2px 82px;
  }
  .plan h1 {
    padding: 30px 109px 37px 104px;
  }
  .plan button {
    width: 213px;
    margin: 35px 61px 37px 56px;
  }
  .plan2 {
    width: 332px;
    height: 571px;
  }
  .plan2 h2 {
    padding: 26px 67px 4px 67px;
  }
  .plan2 h1 {
    padding: 36px 95px 29px 78px;
  }
  .basic-img1 p {
    font-size: 15px;
  }
  .basic-img2 p {
    font-size: 15px;
  }
  .plan3 {
    width: 332px;
    height: 571px;
  }
  .plan2 button {
    width: 213px;
    margin: 35px 61px 37px 56px;
  }
  .plan3 h2 {
    padding: 35px 84px 14px 70px;
  }
  .plan3 h1 {
    padding: 0 131px 20px 102px;
  }
  .basic-img1 p {
    font-size: 14px;
  }
  .plan3 button {
    width: 213px;
    margin: 35px 61px 37px 56px;
  }
  .footer {
    gap: 76px;
  }
}
@media (max-width: 1024px) {
  .softs {
    display: none;
  }
  .point {
    display: none;
  }
  .one h1 {
    font-size: 36px;
    width: 314px;
  }
  .one p {
    font-size: 14px;
    width: 350px;
  }
  .email input {
    width: 339px;
    height: 53px;
    font-size: 14px;
  }
  .send button {
    bottom: 269px;
    right: 581px;
    width: 94px;
    height: 45px;
    font-size: 18px;
  }
  element.style {
    left: -40px;
    position: relative;
  }
  .two-img img {
    top: 49px;
    left: -414px;
    width: 252px;
  }
  .two-img2 {
    position: absolute;
    bottom: 70px;
    right: 11px;
    z-index: 88;
    width: 121px;
  }
  .second img {
    width: 94px;
    height: 31px;
  }
  #second {
    width: 1024px;
  }

  #easy {
    padding: 80px 100px;
  }
  .easy {
    gap: 41px;
    position: relative;
    left: -201px;
  }
  .setting {
    width: 192px;
    height: 227px;
    margin: 9px;
  }
  .setting h2 {
    font-size: 16px;
  }
  .setting p {
    width: 161px;
    font-size: 12px;
  }
  .sett {
    margin: 21px 24px 31px 54px;
    width: 69px;
    height: 67px;
  }
  .person {
    margin: 21px 24px 31px 54px;
    width: 69px;
    height: 67px;
  }
  .shield {
    margin: 21px 24px 31px 54px;
    width: 69px;
    height: 67px;
  }
  .code {
    margin: 21px 24px 31px 54px;
    width: 69px;
    height: 67px;
  }
  .easy {
    gap: 41px;
    position: relative;
    left: -116px;
  }
  .easy-text h1 {
    font-size: 36px;
    width: 383px;
  }
  .easy-text p {
    font-size: 16px;
    width: 452px;
  }
  .easy-p {
    font-size: 16px;
    width: 469px;
  }

  .with {
    gap: 0;
  }
  .with-text h1 {
    font-size: 35px;
    width: 403px;
  }
  .with-text p {
    font-size: 16px;
    line-height: 151%;
    width: 395px;
  }
  .with {
    left: 50px;
    position: relative;
  }
  .with-img2 img {
    top: -65px;
    left: 257px;
  }
  .plan3 h1 {
    padding: 0px 106px 20px 84px;
  }
  .plan-img {
    bottom: -169px;
    left: 219px;
  }
  .plan-img2 {
    top: 128px;
    left: 588px;
  }
  .information img {
    width: 698px;
  }
  .inf-text h1 {
    font-size: 35px;
    width: 437px;
  }
  .inf-text p {
    color: #021206;
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;
    padding: 16px 0 15px 0;
    opacity: 0.7;
  }
  #soft {
    background: #8ee6c92d;
    height: 464px;
  }
  .soft img {
    top: -57px;
    width: 769px;
    left: -124px;
    position: relative;
  }
  .soft {
    top: -6px;
    left: -69px;
    gap: 0;
    position: relative;
  }
  .soft-text h1 {
    font-size: 35px;
    width: 317px;
  }
  .soft-text p {
    font-size: 16px;
    width: 425px;
    padding: 11px 0;
  }
  .pricings img {
    width: 1024px;
  }
  .basic {
    display: flex;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
  }
  .footer {
    gap: 64px;
  }
  .footer-points p {
    width: 193px;
    font-size: 14px;
    line-height: 152%;
    position: relative;
    left: -17px;
    top: -61px;
  }
  .footer img {
    left: -94px;
    position: relative;
    width: 289px;
  }
  .footer-point h1 {
    left: -40px;
    position: relative;
    font-size: 13px;
  }
  .footer-point p {
    position: relative;
    left: -40px;
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  .information {
    left: -173px;
    position: relative;
  }
  #information {
    padding: 95px 0;
  }
  .inf-text p {
    padding: 10px 0 17px 0;
  }
  .inf-text p span {
    font-size: 16px;
    font-weight: 500;
  }
  .plan-img2 {
    top: 128px;
    left: 539px;
  }
  .soft img {
    width: 719px;
    left: -100px;
  }
  .pricing h1 {
    font-size: 39px;
  }
  .send button {
    right: 549px;
  }
  .pricing p {
    color: #021206;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 170%;
    width: 658px;
    height: 57.58px;
  }
  .pricings img {
    width: 992px;
  }
  .month h4 {
    font-size: 17px;
  }
  #second {
    width: 992px;
  }
  .with {
    top: 56px;
    left: 71px;
    position: relative;
  }
  .footer {
    gap: 52px;
  }
}
@media (max-width: 768px) {
  .hero {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .two-img img {
    top: 422px;
    left: -760px;
    width: 252px;
  }
  .two-img2 {
    position: absolute;
    bottom: -326px;
    right: 84px;
    z-index: 88;
    width: 116px;
  }
  .send button {
    bottom: 268px;
    right: 215px;
    width: 94px;
    height: 45px;
    font-size: 18px;
  }
  #second {
    width: 768px;
  }
  .second {
    gap: 44px;
  }
  .easy {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 41px;
    position: relative;
    left: -11px;
  }
  .easy-text h1 {
    font-size: 36px;
    width: 431px;
  }
  .ask {
    justify-content: center;
  }
  .with {
    flex-direction: column;
    text-align: center;
    left: -15px;
  }
  #information {
    padding: 200px 0 0 0;
  }
  .information {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    left: -24px;
    position: relative;
    text-align: center;
  }
  .information img {
    width: 789px;
  }
  .plan-img {
    bottom: -166px;
    left: -83px;
  }
  .plan-img2 {
    top: 459px;
    left: 235px;
  }
  .with-img2 img {
    top: 280px;
    left: -57px;
  }
  .inf-text h1 {
    font-size: 35px;
    width: 437px;
    margin-left: 97px;
  }
  .soft {
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  #soft {
    height: 890px;
    width: 768px;
  }
  .soft {
    top: 83px;
    left: -25px;
  }
  .soft img {
    top: 6px;
    bottom: -166px;
    width: 615px;
    left: -42px;
  }
  .soft-text button {
    font-size: 16px;
  }
  .soft-text h1 {
    margin-left: 51px;
  }
  .pricings img {
    width: 768px;
  }
  .footer {
    gap: 20px;
  }
  .footer img {
    left: -127px;
    position: relative;
    width: 265px;
  }
  .footer-points p {
    width: 186px;
    font-size: 11px;
    left: -56px;
    top: -55px;
  }
  .footer-point h1 {
    left: -40px;
    position: relative;
    font-size: 11px;
    font-weight: 600;
  }
  .footer-point {
    left: -20px;
    position: relative;
    gap: 20px;
    top: 13px;
  }
  .footer-point p {
    position: relative;
    left: -40px;
    font-size: 11px;
  }
}
@media (max-width: 576px) {
  #hero {
    padding: 0 0;
  }
  .email input {
    width: 323px;
    height: 52px;
    font-size: 14px;
  }
  .send button {
    bottom: 330px;
    right: 126px;
  }
  .two img {
    top: -1px;
    left: -31px;
    width: 581px;
  }
  .two-img2 img {
    width: 220px;
    bottom: 0;
    right: 0;
    left: -4px;
  }
  .two-img2 {
    bottom: -181px;
    right: 60px;
  }
  .two-img img {
    left: -852px;
    top: 334px;
    width: 257px;
  }
  #second {
    width: 576px;
  }
  .second img {
    width: 68px;
    height: 24px;
  }
  .second {
    gap: 38px;
  }
  .with-text h1 {
    font-size: 27px;
    width: 307px;
    margin-left: 39px;
  }
  .with-text p {
    font-size: 16px;
    line-height: 151%;
    width: 375px;
  }
  .with-image img {
    width: 501px;
  }
  .with-img2 img {
    top: 120px;
    left: -214px;
    width: 50px;
  }
  .plan-img img {
    width: 329px;
    bottom: 73px;
    left: 66px;
  }
  .plan-img2 img {
    top: -63px;
    left: 1px;
    width: 227px;
  }
  .with-img2 img {
    top: 272px;
    left: -79px;
    width: 218px;
  }
  .information img {
    width: 694px;
  }
  .soft {
    top: 48px;
    left: 14px;
  }
  #soft {
    height: 706px;
    width: 576px;
  }

  .inf-text h1 {
    font-size: 35px;
    width: 437px;
    margin-left: 2px;
  }
  .pricing h1 {
    font-size: 33px;
  }
  .pricing p {
    font-size: 13px;
    width: 571px;
  }
  .save h3 {
    font-size: 16px;
  }
  .month h5 {
    font-size: 17px;
  }
  .pricings img {
    width: 570px;
  }
  .basic {
    gap: 27px;
  }
  .basic-img1 p {
    font-size: 11px;
    padding: 4px 80px 12px 10px;
  }
  .basic-img1 {
    width: 300.262px;
    margin: 20px 3px 7px 0;
  }
  .basic-img2 {
    width: 302.262px;
    margin: -8px 0 0 0;
  }
  .basic-img2 p {
    padding: 0 46px 0 10px;
  }

  .plan button {
    width: 176px;
    margin: 52px 61px 37px 56px;
  }
  .plan2 button {
    width: 176px;
    margin: 52px 61px 37px 56px;
  }
  .plan3 button {
    width: 176px;
    margin: 52px 61px 37px 56px;
  }
  .plan {
    width: 300px;
    height: 509px;
  }
  .plan h2 {
    padding: 15px 93px 2px 82px;
  }
  .plan h1 {
    padding: 7px 109px 26px 104px;
  }
  .plan2 {
    width: 300px;
    height: 509px;
  }
  .plan2 h2 {
    padding: 15px 32px 2px 33px;
  }
  .plan3 {
    width: 300px;
    height: 509px;
  }
  .plan3 h2 {
    padding: 15px 32px 2px 33px;
  }

  #footer {
    height: 192px;
  }
  .footer {
    gap: 58px;
  }
  .footer-point {
    left: -42px;
  }
  .footer-point h1 {
    top: 14px;
    left: -20px;
    font-size: 9px;
    font-weight: 500;
  }
  .footer-point p {
    left: -11px;
    font-size: 7px;
  }
  .footer img {
    top: 14px;
    left: -51px;
    position: relative;
    width: 154px;
  }
  .footer-point {
    left: 9px;
  }
  .footer-point p {
    top: 9px;
    padding: 0 0;
    left: -19px;
    font-size: 7px;
  }
  .footer-points p {
    width: 134px;
    font-size: 7px;
    left: -11px;
    top: -16px;
  }
}
@media (max-width: 451px) {
  .header img {
    width: 154px;
  }
  .one {
    margin-top: 20px;
  }
  .one h1 {
    font-size: 32px;
    width: 281px;
  }
  .one p {
    font-size: 12px;
    width: 295px;
  }
  .email input {
    width: 261px;
    height: 47px;
    font-size: 11px;
  }
  .send button {
    bottom: 487px;
    right: 96px;
    width: 82px;
    height: 39px;
    font-size: 16px;
  }
  .google img {
    width: 90px;
  }
  .two img {
    top: 0px;
    left: -10px;
    width: 509px;
  }
  .two-img2 img {
    top: -228px;
    left: 16px;
    width: 196px;
  }
  .two-img img {
    left: -866px;
    top: 156px;
    width: 228px;
  }

  #second {
    width: 451px;
  }
  .second {
    gap: 12px;
  }
  .second img {
    width: 123px;
    height: 20px;
  }

  #easy {
    padding: 42px 100px;
  }
  .easy {
    gap: 19px;
    left: 7px;
  }
  .setting {
    width: 175px;
    height: 205px;
    margin: 7px;
  }
  .setting h2 {
    font-size: 12px;
  }
  .setting p {
    width: 151px;
    font-size: 10px;
  }
  .sett {
    margin: 19px 12px 34px 54px;
    width: 65px;
    height: 58px;
  }
  .person {
    margin: 19px 12px 34px 54px;
    width: 65px;
    height: 58px;
  }
  .shield {
    margin: 19px 12px 34px 54px;
    width: 65px;
    height: 58px;
  }
  .code {
    margin: 19px 12px 34px 54px;
    width: 65px;
    height: 58px;
  }

  .easy-text h1 {
    font-size: 34px;
    width: 358px;
  }
  .easy-text p {
    font-size: 14px;
    width: 383px;
  }
  .easy-text button {
    padding: 13px 31px;
    font-size: 16px;
    margin-top: 10px;
  }

  .with {
    left: 23px;
    top: 45px;
  }
  .with-text h1 {
    font-size: 27px;
    width: 307px;
    margin-left: 13px;
  }
  .with-text p {
    font-size: 13px;
    line-height: 156%;
    width: 317px;
  }
  .with-image img {
    width: 439px;
  }
  .with-img2 img {
    top: 267px;
    left: -101px;
    width: 198px;
  }
  .plan-img {
    bottom: -189px;
    left: -113px;
  }
  .plan-img2 {
    top: 459px;
    left: 158px;
  }
  .plan-img2 img {
    top: -35px;
    left: -12px;
    width: 335px;
  }

  .inf-text h1 {
    font-size: 34px;
    width: 422px;
    margin-left: 24px;
  }
  .inf-text p {
    font-size: 14px;
    padding: 16px 0 15px 63px;
  }
  .information img {
    margin: -41px -54px 0 0;
    width: 621px;
  }

  #soft {
    height: 783px;
    width: 451px;
  }
  .soft-text h1 {
    font-size: 31px;
    width: 268px;
    margin-left: 20px;
  }
  .soft-text p {
    font-size: 11px;
    width: 333px;
    padding: 11px 0;
  }
  .soft-text button {
    padding: 14px 22px;
    font-size: 20px;
    margin-top: 20px;
  }
  .soft img {
    top: 41px;
    width: 635px;
    left: -25px;
  }
  .pricing h1 {
    font-size: 25px;
  }
  .pricing p {
    font-size: 11px;
    width: 427px;
  }
  .month {
    margin: 22px 0;
  }
  .pricings img {
    width: 448px;
  }
  #footer {
    margin: 88px 0;
    height: 176px;
  }
  .footer img {
    top: 25px;
    left: -43px;
    position: relative;
    width: 125px;
  }
  .footer-points p {
    width: 83px;
    font-size: 6px;
    left: -11px;
    top: 0px;
  }
  .footer-point h1 {
    top: 14px;
    font-size: 8px;
  }
  .footer-point p {
    left: -16px;
    font-size: 7px;
  }
  .footer {
    gap: 16px;
  }
}
@media (max-width: 400px) {
  .two img {
    top: 0px;
    left: -10px;
    width: 456px;
  }
  .two-img2 img {
    top: -252px;
    left: 18px;
    width: 192px;
  }
  .two-img img {
    left: -867px;
    top: 159px;
    width: 205px;
  }
  #second {
    width: 400px;
  }
  .second img {
    width: 55px;
    height: 19px;
  }
  .second {
    gap: 17px;
  }
  .send button {
    right: 67px;
  }
  .easy {
    gap: 19px;
    left: -1px;
  }
  .with-image img {
    width: 382px;
  }
  .plan-img2 img {
    top: -33px;
    left: 4px;
    width: 250px;
  }
  .plan-img img {
    width: 250px;
    bottom: 75px;
    left: 4px;
  }
  .easy-text h1 {
    font-size: 28px;
    width: 305px;
  }
  .easy-text p {
    font-size: 10px;
    width: 272px;
  }
  .easy-p {
    font-size: 12px;
    width: 276px;
  }
  .easy-p span {
    font-size: 10px;
    font-weight: 500;
    line-height: 142%;
  }
  .easy-text button {
    padding: 10px 29px;
    font-size: 15px;
    margin-top: -2px;
  }
  .ask h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 134%;
    padding: 0 25px 0 19px;
    margin-top: -4px;
  }
  .with-text p {
    font-size: 12px;
    line-height: 156%;
    width: 297px;
  }
  .with-image img {
    width: 363px;
  }
  .plan-img2 img {
    top: -40px;
    left: 16px;
    width: 227px;
  }
  .plan-img img {
    width: 220px;
    bottom: 93px;
    left: 29px;
  }
  .plan2 h1 {
    padding: 14px 95px 33px 78px;
  }
  .plan3 h1 {
    padding: 0 157px 20px 84px;
  }
  .img1 {
    padding: 8px 0;
  }
  .with-img2 img {
    top: 259px;
    left: -68px;
    width: 159px;
  }
  .inf-text h1 {
    font-size: 32px;
    width: 396px;
    margin-left: 24px;
  }
  .inf-text p {
    color: #021206;
    font-size: 12px;
    font-weight: 400;
    line-height: 145%;
    padding: 9px 0 7px 41px;
    opacity: 0.7;
  }
  .information img {
    margin: -41px -30px 0 0;
    width: 537px;
  }
  #soft {
    height: 661px;
    width: 400px;
  }
  .soft img {
    top: 26px;
    width: 532px;
    left: -27px;
  }
  .soft-text h1 {
    font-size: 29px;
    width: 261px;
    margin-left: 14px;
  }
  .soft-text p {
    font-size: 10px;
    width: 310px;
    padding: 10px 0px;
  }
  .soft-text button {
    padding: 12px 20px;
    font-size: 14px;
    margin-top: 11px;
  }
  .pricing p {
    font-size: 10px;
    width: 349px;
  }
  .month h4 {
    font-size: 15px;
  }
  .month h5 {
    font-size: 16px;
  }
  .save h3 {
    font-size: 14px;
  }
  .pricing img {
    width: 34px;
  }
  .pricings img {
    width: 380px;
  }

  #footer {
    height: 146px;
  }
  .footer-point p {
    left: -17px;
    font-size: 6px;
  }
  .footer img {
    width: 99px;
  }
  .footer-points p {
    left: -17px;
  }
  .footer-point h1 {
    top: 14px;
    left: -17px;
  }
}
@media (max-width: 376px) {
  .two-img img {
    left: -850px;
    top: 204px;
    width: 185px;
  }
  .two-img2 img {
    top: -261px;
    left: 44px;
    width: 170px;
  }
  #second {
    width: 376px;
  }
  .second {
    gap: 12px;
  }
  .setting {
    width: 149px;
    height: 181px;
    margin: 7px;
  }
  .sett {
    margin: 19px 12px 11px 44px;
    width: 65px;
    height: 58px;
  }
  .person {
    margin: 19px 12px 11px 42px;
    width: 55px;
    height: 50px;
  }
  .shield {
    margin: 19px 12px 11px 44px;
    width: 55px;
    height: 50px;
  }
  .code {
    margin: 19px 12px 11px 42px;
    width: 55px;
    height: 50px;
  }
  .setting p {
    width: 126px;
    font-size: 9px;
  }

  .easy-text h1 {
    font-size: 26px;
    width: 281px;
  }
  .easy-p span {
    font-size: 14px;
  }
  .easy-text p {
    font-size: 10px;
    width: 300px;
  }
  .ask h4 {
    font-size: 15px;
    margin-top: -1px;
  }
  .img1 img {
    width: 21px;
    margin-right: -10px;
  }
  .with-text h1 {
    font-size: 26px;
    width: 300px;
    margin-left: -10px;
  }
  .plan-img2 img {
    top: -85px;
    left: -59px;
    width: 203px;
  }

  .plan-img img {
    width: 220px;
    bottom: 73px;
    left: 0px;
  }
  .with-img2 img {
    top: 241px;
    left: -75px;
    width: 138px;
  }
  .inf-text h1 {
    font-size: 30px;
    width: 374px;
    margin-left: 24px;
  }
  .inf-text p span {
    font-size: 13px;
    font-weight: 400;
  }
  .information img {
    margin: -47px -44px 0 0;
    width: 498px;
  }

  #soft {
    height: 680px;
    width: 376px;
  }
  .soft {
    top: 37px;
    left: -13px;
  }
  .soft img {
    width: 567px;
  }

  .pricings img {
    width: 370px;
  }
  .plan {
    width: 272px;
    height: 466px;
  }
  .plan h2 {
    padding: 8px 63px 10px 71px;
  }
  .plan2 {
    width: 272px;
    height: 466px;
  }
  .plan3 {
    width: 272px;
    height: 466px;
  }
  .plan button {
    width: 153px;
    margin: 6px 36px 4px 35px;
  }
  .plan2 button {
    width: 153px;
    margin: 24px 36px 37px 35px;
  }
  .plan2 h1 {
    padding: 12px 99px 9px 78px;
  }
  .plan3 button {
    width: 153px;
    margin: 24px 36px 37px 35px;
  }
  .plan3 h1 {
    padding: 4px 75px 9px 71p;
  }
  .basic-img2 {
    width: 265.262px;
    margin: -8px 0 8px 0;
  }
  .basic-img2 p {
    font-size: 12px;
  }
  .basic-img2 p {
    padding: 8px 52px 0 10px;
  }
  .basic-img1 p {
    font-size: 11px;
    padding: 4px 55px 12px 10px;
  }
  .basic-img1 {
    width: 270.262px;
  }
  .footer {
    gap: 12px;
  }
}
@media (max-width: 320px) {
  .send button {
    right: 31px;
  }
  .two img {
    top: 0px;
    left: -10px;
    width: 395px;
  }
  .two-img img {
    left: -864px;
    top: 179px;
    width: 148px;
  }
  .two-img2 img {
    top: -306px;
    left: 58px;
    width: 155px;
  }
  #second {
    width: 320px;
  }
  .second img {
    width: 42px;
    height: 15px;
  }
  .second {
    gap: 12px;
  }
  .setting {
    width: 139px;
    height: 163px;
    margin: 5px;
  }
  .easy-text h1 {
    font-size: 20px;
    width: 275px;
  }
  .easy-text p {
    font-size: 9px;
    width: 264px;
  }
  .easy-text button {
    padding: 8px 15px;
    font-size: 13px;
    margin-top: -2px;
  }
  .with-text h1 {
    font-size: 24px;
    width: 279px;
    margin-left: -10px;
  }
  .with-text p {
    font-size: 11px;
    line-height: 156%;
    width: 288px;
  }
  .img1 {
    padding: 3px 0;
  }
  .with-text p {
    font-size: 10px;
    line-height: 156%;
    width: 258px;
  }
  .with-image img {
    width: 277px;
  }
  .with-img2 img {
    top: 187px;
    left: -56px;
    width: 117px;
  }
  .plan-img2 img {
    top: -168px;
    left: -38px;
    width: 192px;
  }
  .plan-img img {
    width: 204px;
    bottom: 84px;
    left: 40px;
  }
  .inf-text h1 {
    font-size: 24px;
    width: 297px;
    margin-left: 24px;
  }
  .inf-text p {
    font-size: 10px;
    line-height: 140%;
    padding: 4px 0 5px 41px;
  }
  .information img {
    margin: -14px -45px 0 0;
    width: 403px;
  }
  #soft {
    height: 594px;
    width: 320px;
  }
  .soft-text h1 {
    font-size: 26px;
    width: 222px;
    margin-left: 21px;
  }
  .soft-text p {
    font-size: 9px;
    width: 269px;
    padding: 10px 0px;
  }
  .soft img {
    width: 448px;
    top: 35px;
    left: 2px;
  }
  .pricing h1 {
    font-size: 21px;
  }
  .pricing p {
    font-size: 8px;
    width: 306px;
  }
  .month h4 {
    font-size: 13px;
  }
  .month div {
    width: 47.102px;
    height: 23.98px;
    background: #43ddaa;
    border-radius: 5px;
    margin: 0 20px;
  }
  .month div div {
    width: 13px;
    height: 15px;
    border-radius: 3px;
    background: #fff;
    position: relative;
    right: -11px;
    bottom: -4px;
  }
  .month h5 {
    font-size: 14px;
  }
  .save h3 {
    font-size: 12px;
  }
  .pricing img {
    top: -5px;
    position: relative;
    width: 25px;
  }
  .pricings img {
    width: 315px;
  }

  #footer {
    height: 109px;
  }
  .footer {
    gap: 4px;
}
  .footer-point p {
    left: -17px;
    font-size: 5px;
}
}
